@import "./theme";

.fragment {
  &-list {
    color: colorDefaultTheme("textColor");
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &-sorting {
    display: flex;
    & button {
      border: 0;
      margin: 2px;
      text-align: end;
      &:active {
        background-color: colorDefaultTheme("oddItemBackgroundColor");
      }
    }
    &-status {
      width: 15px;
    }
    &-id {
      flex: 1;
    }
    &-type {
      flex: 1;
    }
  }
  &-item {
    display: flex;
    border-bottom: 1px solid colorDefaultTheme("borderColor");
    &:nth-child(2n + 1) {
      background-color: colorDefaultTheme("oddItemBackgroundColor");
    }
    &:hover {
      background-color: colorDefaultTheme("highlight");
    }
    &:focus {
      background-color: colorDefaultTheme("highlight");
    }
    &.expanded {
      background-color: colorDefaultTheme("highlight");
    }
  }
  &-status-wrapper {
    height: 15px;
    width: 15px;
    margin: 2px;
  }
  &-status {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  &-id {
    overflow: hidden;
    flex: 1;
    border-right: 1px solid colorDefaultTheme("borderColor");
  }
  &-type {
    flex: 1;
  }
  &-status {
    &-success {
      background-color: #01a101;
    }
    &-error {
      background-color: #ff0000;
    }
    &-warning {
      background-color: #ffbb00;
    }
    &-unprocessed {
      background-color: #a7a7a7;
    }
  }
}

.node {
  &-list {
    display: none;
  }
  &-button {
    background-color: transparent;
    border: 0;
    width: 100%;
    color: colorDefaultTheme("textColor");
    text-align: start;
    border-bottom: 1px solid #a9a9a934;
    &:hover {
      background-color: colorDefaultTheme("nodeHighlight");
    }
    &:nth-child(2n + 1) {
      background-color: #add8e62c;
      &:hover {
        background-color: #0e000034;
      }
    }
  }
}

.expanded {
  .node {
    &-list {
      display: block;
    }
  }
}

.dark-theme {
  .fragment {
    &-list {
      color: colorDarkTheme("textColor");
    }
    &-item {
      border-color: #d3d3d325;
      &:nth-child(2n + 1) {
        background-color: colorDarkTheme("oddItemBackgroundColor");
      }
      &:hover {
        background-color: colorDarkTheme("highlight");
      }
      &:focus {
        background-color: colorDarkTheme("highlight");
      }
      &.expanded {
        background-color: colorDarkTheme("highlight");
      }
    }
  }

  .node {
    &-button {
      color: colorDarkTheme("textColor");
      &:hover {
        background-color: colorDarkTheme("nodeHighlight");
      }
      &:focus {
        background-color: colorDarkTheme("nodeHighlight");
      }
      &:nth-child(2n + 1) {
        background-color: colorDarkTheme("oddNodeBackgroundColor");
        &:hover {
          background-color: colorDarkTheme("nodeHighlight");
        }
        &:focus {
          background-color: colorDarkTheme("nodeHighlight");
        }
      }
    }
  }

  .expanded {
    .node-list {
      display: block;
    }
  }
}
